.pills ul{
    display: flex;
    flex-direction: row;
}

.pills ul li{
    background-color: var(--primary-color);
    color: #fff;
    padding: .28rem 1rem;
    margin: 0 .6rem;
    border-radius: 20px;
    text-transform: uppercase;
}

.pills ul li:first-child{
    margin-left: 0;
}